/* antd style */

.ant-page-header-heading-left.ant-page-header-heading-title {
  color: black;
  font-weight: 500;
}

.ant-form.ant-form-horizontal.ant-advanced-search-form {
  position: relative;
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-form.ant-form-horizontal.ant-advanced-search-form.ant-form-item {
  display: flex;
}

/* .ant-row.ant-form-item{
    padding: 0 1.5em;
  } */

.ant-alert.ant-alert-no-icon {
  text-align: center;
  font-size: 1.1rem;
}

/* antd style end */

.textAlignEndExpand {
  text-align: end;
  padding-right: 3rem;
}

.textAlignEndCollapse {
  text-align: end;
}

.tableContainer {
  padding-top: 30px;
}

.unDisplay {
  display: none;
}

.creditPortalForm {
  position: relative;
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.entityFormCol {
  display: flex !important;
}

.entityFormLabel {
  padding-right: 2rem;
  width: 10rem;
}
