.personalInputStyle {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Open Sans';
  }
  
  .personalStyleCol > .ant-row.ant-form-item > .ant-col.ant-form-item-label > label{
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans';
  }

  .ant-col .personalStyleCol{
      padding: 3px 5px !important;
      margin-left: 10px;
  }

  .ant-btn.personalDetailsButton{
    height: 45px;
    width: 10em;
    font-size: 20px;
  }

  .ant-btn.personalDetailsRemoveButton{
    float: right;
    margin-right: 8.5em;
  }