.repayment-col {
  flex-direction: column;
  padding: 7px;
  display: flex;
}
.repayment-smText {
  font-size: 13px;
  font-weight: 600;
  color: rgba(40, 44, 71, 0.7);
}
.repayment-label {
  font-size: 12px;
  font-weight: 600;
  color: #4b70b8;
}
.repayment-label-mandate {
  font-size: 12px;
  font-weight: 600;
  color: #2a5836;
}
.repayment-label-penny {
  font-size: 12px;
  font-weight: 600;
  color: #2a5836;
}
