/* antd style */

.ant-page-header-heading-title {
  /* font-size: 25px !important; */
  color: black !important;
  font-weight: 500 !important;
}

.ant-advanced-search-form {
  padding: 24px !important;
  background: #fbfbfb !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 6px;
}
.site-card-wrapper {
  /* background: #ececec !important; */
  padding-top: 30px !important;
}
.textAlign {
  text-align: right;
}
.ant-advanced-search-form .ant-form-item {
  display: flex !important;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1 !important;
}
.MuiGrid-grid-md-11 {
  flex-grow: 0 !important;
  max-width: 100% !important;
  flex-basis: 100% !important;
}
/* antd style end */

.divTable-row {
  display: flex;
  height: 80px;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(40, 44, 71, 0.1);
  border: solid 1px rgba(40, 44, 71, 0.1);
  background-color: #ffffff;
  margin-top: 15px;
  align-items: center;
  position: relative;
  padding: 7px 10px;
}
.divTable-row .divTable-col {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.divTable-row:before {
  background-color: #d0dbf0;
  content: '';
  width: 6px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.divTable-colWrap .divTable-col {
  flex-direction: column;
  padding: 7px;
  display: flex;
}
.divTable-row .divTable-colWrap {
  border-radius: 4px;
  /* background-color: rgba(75, 112, 184, 0.04); */
  background-color: rgb(111, 14, 223, 0.03);
  display: flex;
  justify-content: center;
  flex: 4;
}
.divTable-row .sm-text {
  font-size: 13px;
  font-weight: 600;
  color: rgba(40, 44, 71, 0.7);
}
.divTable-row .emi-amount {
  font-size: 12px;
  font-weight: 600;
  color: #4b70b8;
}
.divTable-col strong {
  font-weight: 500;
}
.avatar {
  background-color: #d0dbf0 !important;
}
.divTable-row:hover {
  border: solid 1px #6f0edf;
}
.divTable-row:hover:before {
  background-color: #6f0edf;
}
.divTable-row:hover .avatar {
  background-color: #6f0edf !important;
}
.divTable-row:hover strong {
  font-weight: 500;
  font-size: 18px;
}
.divTable-row:hover .divTable-colWrap {
  background-color: rgb(253, 242, 193, 0.4);
}
/* .avatar-hover:hover {
  background-color: #6f0edf;
} */

/* .content-wrap::before,
.content-wrap::after {
  background: #f0f0f0 !important;
}

.content-wrap {
  background: #f0f0f0 !important;
  padding: 20px;
} */

/* .ant-layout .site-layout {
  background: #f0f0f0 !important;
} */

.leadRecordCol{
  display: flex !important;
}

.leadRecordLabel > .ant-form-item-label{
  /* padding-right: 2rem; */
  /* width: 10rem; */
}

.leadRecordCol > .ant-form-item > .ant-form-item-label{
  /* width: 10rem; */
}