.entityDetailsInputStyle {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Open Sans';
  }
  
  .entityStyleCol > .ant-row.ant-form-item > .ant-col.ant-form-item-label > label{
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans';
  }

  .radioLabel{
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans';
    padding-left: 18px;
  }

  .radioLabel > .ant-radio-wrapper > .ant-radio{
    padding-left: 10px;
  }

  .ant-col .entityStyleCol{
    padding: 3px 5px !important;
  }

  .ant-btn.personalDetailsButton{
    height: 45px;
    width: 10em;
    font-size: 20px;
  }

  .selectStyle{
    /* background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em; */
  }

  .entity-loader-container{
    position: fixed;
    top: 0;
    left: 0;
    background: #666;
    opacity: 0.5;
    z-index: 998;
    height: 100%;
    width: 100%;
  }
  
  .entity-loader {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666; opacity: .8;
    z-index: 1000;
  }

  .ant-input[disabled]{
    color: rgba(0, 0, 0, 0.50) !important;
  }
 