.tab-container > .ant-tabs-nav > .ant-tabs-nav-wrap {
    width: 100%;
  }
  
  .tab-container
    > .ant-tabs-nav
    > .ant-tabs-nav-wrap
    > .ant-tabs-nav-list
    > .ant-tabs-tab.ant-tabs-tab-active {
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #e6f7ff;
  }
  
  .tab-container
    > .ant-tabs-nav
    > .ant-tabs-nav-wrap
    > .ant-tabs-nav-list
    > .ant-tabs-tab {
    font-size: 1.1rem;
  }
  
  /* .red
    > .ant-tabs-nav
    > .ant-tabs-nav-wrap
    > .ant-tabs-nav-list
    > .ant-tabs-tab.ant-tabs-tab-active {
    color: red;
  }
  
  .green
    > .ant-tabs-nav
    > .ant-tabs-nav-wrap
    > .ant-tabs-nav-list
    > .ant-tabs-tab.ant-tabs-tab-active {
    color: rgb(0, 128, 0, 0.5);
  } */
  
  .tab-container
    > .ant-tabs-nav
    > .ant-tabs-nav-wrap
    > .ant-tabs-nav-list
    > .ant-tabs-tab:focus {
    outline: none;
  }
  
  .ant-tabs-tab:focus {
    color: rgba(0, 0, 0, 0.65);
  }
  