@media (max-width: 500px) {
    .ant-layout-sider-zero-width-trigger{
        top:0px!important;
    }
}

@media (min-width: 501px) {
    .ant-layout-sider-zero-width-trigger{
        display: none;
    }
}