/* .ant-input[disabled] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans';
}
InputNumber {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans';
}

select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans';
} */

.ant-col .ant-form-item-control {
  width: 100%;
}

.ant-card-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
